<!-- templates/artucles.html -->

{% extends "base.html" %}

{% block content %}
<img src="{{ url_for('static', filename='pic2.jpg') }}" alt="Image">
<h5>Search anything here: </h5>
<nav>
	<div class="nav-wrapper white" style="border: 1px solid grey;">
	  <form action="/search" method="GET">
		<div class="input-field">
		  <input id="search" type="search" name="query" required>
		  <label class="label-icon" for="search"><i class="material-icons" style="color: black;">search</i></label>
		</div>
	  </form>
	</div>
</nav>
<h1>Our Recent Articles</h1>
    {% for post in posts %}
			<div class="card">
				<div class="card-content">
					<span class="card-title"><b>{{ post.title }}</b></span>
					<p>{{ post.content[:400] }}</p>
				</div>
				<div class="card-action blue-text">
					<a href="/blog/{{ post.id }}" class="blue-text"><b>Open Article</b></a>
				</div>
			</div>
		{% endfor %}
{% endblock %}