<!-- templates/base.html -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Environmental Development</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <!-- Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>


        $(document).ready(function(){
            $('.sidenav').sidenav();
        });

    </script>
</head>

<body>
    <section class="hero is-fullheight">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <nav class="blue" style="padding:0px 10px;">
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo">Environmental Development</a>

            <a href="#" class="sidenav-trigger" data-target="mobile-nav">
                <i class="material-icons">menu</i>
            </a>

            <ul class="right hide-on-med-and-down "  >
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                        {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('main.profile') }}">Profile</a></li>
                        <li><a href="{{ url_for('main.articles') }}">Articles</a></li>
                        {% endif %}

                        {% if not current_user.is_authenticated %}
                        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                        <li><a href="{{ url_for('auth.signup') }}">Sign Up</a></li>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                        {% endif %}
            </ul>
        </div>
    </nav>


    <ul class="sidenav" id="mobile-nav">
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('main.profile') }}">Profile</a></li>
        <li><a href="{{ url_for('main.articles') }}">Articles</a></li>
        {% endif %}

        {% if not current_user.is_authenticated %}
        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
        <li><a href="{{ url_for('auth.signup') }}">Sign Up</a></li>
        {% endif %}
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
        {% endif %}
    </ul>

        <!-- <div class="hero-head #90caf9 blue lighten-3">
            <nav class="navbar">
                <div class="container">

                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{{ url_for('main.index') }}" class="navbar-item">
                                Home
                            </a>
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('main.profile') }}" class="navbar-item">
                                Profile
                            </a>
                            <a href="{{ url_for('main.articles') }}" class="navbar-item">
                                Articles
                            </a>
                            {% endif %}
                            {% if not current_user.is_authenticated %}
                            <a href="{{ url_for('auth.login') }}" class="navbar-item">
                                Login
                            </a>
                            <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                                Sign Up
                            </a>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                                Logout
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div> -->

        <div class="hero-body #bbdefb blue lighten-4">
            <div class="container">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>

    
</body>

</html>