<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Going Green: Small Changes for a Big Impact
</h1>
<br>
<h2 class="subtitle">
  Environmental development refers to efforts made towards protecting and preserving the natural environment while promoting sustainable practices. It involves the conservation of natural resources, reduction of pollution, and finding innovative ways to address environmental challenges. The ultimate goal is to ensure that our planet remains habitable for future generations by striking a balance between economic development and environmental protection.
</h2>
{% endblock %}